@include normalize();

::-moz-selection {
  color: color(brand, primary);
  background: rgba(color(brand, primary), 0.2);
}
::selection {
  color: color(brand, info);
  background: rgba(color(brand, info), 0.2);
}

.App {
  overflow: hidden;
}

.btn {
  font-family: font-family(primary);
  cursor: pointer;
  text-decoration: none;
}

.control-dots .dot {
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  background-color: color(brand, info) !important;
  border: 2px solid color(brand, default) !important;
}

.slide {
  background: transparent !important;
}

.tablet-image {
  margin: 30px 0;

  #wrapper,
  #iphone {
    margin: 0 auto;
  }

  #wrapper.iphone {
    display: block !important;
  }

  .carousel {
    max-width: 336px;
    border-radius: 4px;

    .slide {
      background: #fff !important;
    }
  }
}


.rotate-45 {
  @include transform(rotate(45deg));
}

.width-50-lg {
  @include breakpoint(lg) {
    max-width: 50%;
  }
}

.shadow-left {
  #shadow {
    box-shadow: -20px 17px 19px rgba(0, 0, 0, 0.5) !important;
  }
}

.row {
  width: 100%;
}

.line-13 {
  width: 100%;
  max-width: 500px;
  line-height: 1.6 !important;

  @include breakpoint(lg) {
    margin-bottom: 180px;
  }
}

.pad-60-bottom {
  padding-bottom: 60px;
}

.rotate-n-45 {
  @include transform(rotate(-45deg));
}

.text-default {
  color: color(brand, default);
}

.text-info {
  color: lighten(color(brand, info), 0%);
}

h1 {
  color: color(brand, info);
}

.text-white {
  color: color(greyscale, white);
}

* {
  @include breakpoint(max-width breakpoint-value(sm)) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  // Styles scrollbar if one appears
  // ::-webkit-scrollbar {
  //   width: 4px;
  //   height: 2px;
  // }
  //
  // ::-webkit-scrollbar-button {
  //   width: 0;
  //   height: 0;
  // }
  //
  // ::-webkit-scrollbar-thumb {
  //   border: 0 {
  //     right: 1px solid color(greyscale, white);
  //     left: 1px solid color(greyscale, white);
  //   }
  //   border-radius: 0;
  //   background: transparent ;
  //   mix-blend-mode: difference;
  // }
  //
  // ::-webkit-scrollbar-thumb:hover {
  //   background: color(brand, grey);
  // }
  //
  // ::-webkit-scrollbar-track {
  //   border: 0 none color(greyscale, white);
  //   border-radius: 50;
  //   background: transparent;
  // }
  //
  // ::-webkit-scrollbar-corner {
  //   background: transparent;
  // }
}

body {
  min-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
  color: color(greyscale, black);
  background-color: color(greyscale, white);
  font-family: font-family(primary);
  font-weight: 300;
  line-height: heading(default, line-height);

  @include font-size(heading(default, font-size));
}

.weight-700 {
  font-weight: 700 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid color(greyscale, light-grey);
}

.blank {
  background-color: color(greyscale, white);
}
// filter: drop-shadow(3px 2px 4px #271f22);
// Images
.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

// Helpers
.transition {
  @include transition(all 0.3s ease-in-out);
}

.faded {
  @include opacity(0.8);
}

.center,
.center-block {
  display: block;
  margin: 0 auto;
}

// Resets all styles on a button
.clear-button {
  text-rendering: auto;
  color: inherit;
  font-size: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: inherit;
  margin: 0;
  padding: 0;
  background: none;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  cursor: pointer;
  width: inherit;
  font-family: inherit;
}

// Createing classes
@if infra-value(text) != false {
  @include infra-text();
}

@if infra-value(lists) != false {
  @include infra-lists();
}

@if infra-value(headings) != false {
  @include infra-headings();
}

@if infra-value(position) != false {
  @include infra-position();
}

// Vars for setup of grid system
$col-size: map-keys(get('grid, setup, breakpoints')) !default;
$grid-columns: get('grid, grid-columns');

@include flexbox-grid($col-size, $grid-columns);

// Checks to see if you want to import
@if infra-value(box-modal) != false {
  @include infra-box-modal(infra-value(box-modal), infra-value(box-modal-values));
}

@if infra-value(display) != false {
  @include infra-display(infra-value(display));
}

.main-content {
  padding-left: 0;
  padding-right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div[style^="opacity"] {
  @include transition(transform .2s ease-in-out);
}

.bg-white {
  background-color: color(greyscale, white);
}

blockquote {
  margin: 0;
  padding-left: 30px;
  border-left: 4px solid color(brand, danger);
}

.row {
  @extend .transition;
}

.pos-rel {
  position: relative;
}

.toggle-wrapper {
  position: relative;

  &.top {
    .toggle {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 1000;
    }
  }
}

.toggle-open {
  span {
    &::before {
      content: attr(data-open);
    }
  }
}

.toggle-collapse {
  span {
    &::before {
      content: attr(data-close);
    }
  }
}

.collapse {
  padding: 0 !important;
  animation: fadeOutUp .5s ease-in-out forwards;
}

.open {
  animation: fadeInUp 0.3s ease-in-out forwards;
}

.toggle {
  outline: 0;
  font-weight: 600;
  font-family: font-family(heading);
  cursor: pointer;
  @include font-size(18px);

  span {
    position: relative;
    display: inline-block;
    @extend .transition;

    &:before {
      position: relative;
      width: 100%;
    }
  }
}

.services {
  p {
    position: relative;
    z-index: 100;
  }

  .toggle {
    position: relative;
    top: 32px;
  }

  &.special {
    .container {
      padding: 140px 0 100px;
    }
  }
}

.pad-30 {
  padding: 30px
}

.mar-30 {
  margin: 30px
}

.no-pad-md {
  @include breakpoint(sm) {
    padding: 0;
  }
}

input ,
textarea {
  box-sizing: border-box;
}
